fastapi
uvicorn[standard]

pymongo
motor

python-dotenv

ultralytics

opencv-python

numpy
pandas

pillow

paddleocr
paddlepaddle

streamlit
plotly

python-multipart

loguru

pydantic
pydantic-settings

redis

celery

grad-cam

shapely

scikit-learn

matplotlib

tqdm