fastapi
uvicorn[standard]

pymongo
motor

python-dotenv

ultralytics

opencv-python

numpy
pandas

pillow

paddleocr==2.8.1
paddlepaddle==2.6.2
easyocr

streamlit
plotly

python-multipart

loguru

pydantic
pydantic-settings

redis

celery

grad-cam

shapely

scikit-learn

matplotlib

tqdm